html {
    font-size: 100%;
    
    line-height: 1.361665;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(161, 0, 0, 0.3);
}

h1 {
    margin: 32px 0px 0px 0px;
    font-weight: 700;
    font-size:2.5rem;
    color:#A10000;
}

.container section:first-of-type {
    margin-top: 11px;
}

.container section:nth-of-type(2) {
    margin-top: 14px;
}

h2 {
    /* remember small element inherits from this tag */
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin:0px;
}

h2 small {
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    color: #000000;
}

aside h2 {
    margin-bottom:20px;
}

#headerimg {    
    width: 100%;
    height: auto;
    border: 1px solid #FCFCFC;
    box-sizing: border-box;
}

.container {
    width: 88%;
    margin: 0 auto;
    background-color: #FCFCFC;
    overflow: hidden;
    padding-bottom: 3.33%;
}

summary {
    margin-top:10px;
    padding : 17px;
    background-color: #EBEBEB
}

section ul {
    margin-left: 34px;
    padding-left: 0px;
    margin-top:11px;
    margin-bottom: 0px;
}

section ol {
    margin-left: 34px;
    padding-left: 0px;
    margin-top: 16px;
    margin-bottom: 0px;
}

aside {
    margin-top:20px;
}

.container picture {
    width: 100%;
}

.container {
    container-type: inline-size;
}

/* small screen */
.container picture:first-of-type img {
    width: 100%;
    height: auto;
}

.container picture:nth-of-type(2) img {
    width: 100%;
    height: auto;
}

body {
    font-size: 1.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3.33%;
    background-color: #FCFCFC;
}

/* large screen */
@container (min-width: 650px) {
    .container picture:first-of-type img {
        width: 49%;
        min-width: 300px;
        height: auto;
        float: left;
    }

    .container picture:nth-of-type(2) img {
        width: 49%;
        min-width: 300px;
        height: auto;
        padding-left: 10px;
        float: right;
    }

    body {
        width: 60%;
    }
}