/* User agent reset */
:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
}
/* User agent end */

html {
    font-size: 100%;
    line-height: 1.361665;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(161, 0, 0, 0.3);
}

h1 {
    margin-top: 32px;    
    font-weight: 700;
    font-size: 2.5rem;
    color: #A10000;
    word-wrap: break-word;
}

.container section:first-of-type {
    margin-top: 11px;
}

.container section:nth-of-type(2) {
    margin-top: 14px;
}

h2 {
    /* remember small element inherits from this tag */
    font-weight: 700;
    font-size: 2rem;
    color: #000000;
    margin: 0px;
    word-wrap: break-word;
}

h2 small {
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    color: #000000;
}

aside h2 {
    margin-bottom: 20px;
}

#headerimg {
    display:block;
    width: 100%;
    height: auto;
    border: 1px solid #FCFCFC;
    box-sizing: border-box;
}

.container {
    width: 88%;
    margin: 0 auto;
    background-color: #FCFCFC;
    overflow: hidden;
    padding-bottom: 3.33%;
}

summary {
    margin-top: 10px;
    padding: 17px;
    background-color: #EBEBEB;
    word-wrap: break-word;
}

section ul {
    margin-left: 34px;
    margin-top: 11px;
}

section ol {
    margin-left: 34px;
    margin-top: 16px;
    word-wrap: break-word;
}

aside {
    margin-top: 20px;
}

.container picture {
    display: block;
    width: 100%;
}

.container {
    container-type: inline-size;
}

/* small screen */
.container picture:first-of-type img {
    height: auto;
}

.container picture:nth-of-type(2) img {
    height: auto;
}

body {
    font-size: 1.5rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3.33%;
    background-color: #FCFCFC;
}

/* large screen */
@container (min-width: 650px) {
    .container picture:first-of-type img {
        width: 49%;
        min-width: 300px;
        height: auto;
        float: left;
    }

    .container picture:nth-of-type(2) img {
        width: 49%;
        min-width: 300px;
        height: auto;
        margin-left: 10px;
        float: right;
    }

    body {
        width: 60%;
    }
}