/* Deklarera CSS-variabler i :root */
:root {
    --primary-color: #000000;
    --secondary-color: #FCFCFC;
    /* alpha will not be saved */
    --third-color: 161, 0, 0;
    /* alpha requires color-scheme: normal; */
    --third-color-alpha: 0.3;
    --fourth-color: #EBEBEB;
    --fifth-color: #A10000;
    --font-family: 'Open Sans', sans-serif;
    /* --font-size-base: 16px; */

    /* 24px */
    --font-size-2xl: calc(24rem / 16);

    /* 32px */
    --font-size-3xl: calc(32rem / 16);

    /* 40px */
    --font-size-4xl: calc(40rem / 16);
}

html {
    font-size: 100%;
    line-height: 1.361665;
    font-weight: 400;
    font-family: var(--font-family);
    background-color: rgba(var(--third-color), var(--third-color-alpha));
    /* alpha requires color-scheme: normal; */
    color-scheme: normal;
    color:var(--primary-color);
}
body {
    font-size: var(--font-size-2xl);
}

article {
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 3.33%;
    background-color: var(--secondary-color);
}

main {
    max-width:1152px;
    margin: 0 auto;
    /*width: 88%;
    margin: 0 auto;*/
    background-color: var(--secondary-color);
    overflow: hidden;
    padding-bottom: 3.33%;
}

#headerimg {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid var(--secondary-color);
}

h1 {
    margin-top: 32px;
    font-weight: 700;
    font-size: var(--font-size-4xl);
    color: var(--fifth-color);
    word-wrap: break-word;
}

h2 {
    /* remember small element inherits from this tag */
    font-weight: 700;
    font-size: var(--font-size-3xl);
    color: var(--primary-color);
    margin: 0px;
    word-wrap: break-word;
}

h2 small {
    font-weight: 400;
    font-size: inherit;
    line-height: inherit;
    color: var(--primary-color);
}

aside h2 {
    margin-bottom: 20px;
}

.ingredienses {
    margin-top: 11px;
}

.howto {
    margin-top: 14px;
}

.p-summary {
    margin-top: 10px;
    padding: 17px;
    background-color: var(--fourth-color);
    word-wrap: break-word;
}

section ul {
    margin-left: 34px;
    margin-top: 11px;
}

section ol {
    margin-left: 34px;
    margin-top: 16px;
    word-wrap: break-word;
}

aside {
    margin-top: 20px;
}

/* large screen region begin */
.suggestion-images-wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.img1wrapper {
    flex: 1;
}

.img2wrapper {
    flex: 1;
}

.img1 {
    max-width: 100%;
    max-height: 100%;
}

.img2 {
    max-width: 100%;
    max-height: 100%;
}

/* large screen region end */

@media (max-width: 650px) {

    .suggestion-images-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .img1wrapper {
        flex: 1;
    }

    .img2wrapper {
        flex: 1;
    }

    .img1 {
        max-width: 100%;
        max-height: 100%;
    }

    .img2 {
        max-width: 100%;
        max-height: 100%;
    }
}